* {
    margin: 5px;
    font-size: 105%;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 70px;
    width: 99%;

    border-style: groove;
    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 10px 10px 5px gray;
}

main {
    height: 700px;
    width: 99%;

    border-style: groove;
    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 10px 10px 5px gray;
}

.content_box {
    height: 500px;
    width: 500px;

    border-style: groove;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-shadow: 10px 10px 5px gray;
}

#intro_title, #intro_description, #intro_quiz_start_button {
    text-align: center;
    margin: 10px 0px;
}

#intro_quiz_start_button {
    display: flex;
    justify-content: center;
}

#content_quiz, #content_highscore, #content_scoreboard {
    display: none;
}

#view_highscores_text p:hover {
    padding:5px;
    border-style: groove;
    cursor: pointer;
}